OPENAI_API_KEY= # API ключ 
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o
DB_PATH=translations.db
BACKEND_URL=http://localhost:8000

Руслан, этот файл аналог того как выглядет мой файл .env